server {
	listen 80;
	server_name {{ host }};
	
	location = /favicon.ico {
		access_log off;
		log_not_found off;
	}
	
	location /static/ {
		root /home/{{ ansible_ssh_user }}/sites/{{ host }};
	}

	location / {
		proxy_pass http://unix:/tmp/{{ host }}.socket;
		proxy_set_header Host {{ host }};
	}
}
